/* common-design-overrides */


.cd-mandate__logo {
	background: url("../images/logos/ocha-lockup.svg") 0 center no-repeat;
}



.wp_social_media_menu_icon {
	list-style-type: none;
}


.wp-menu-item {

list-style-type: none;

}

/* Mobile logo can be linked here */
@media (max-width: 767px) {
    .cd-site-logo {
        background: url(../images/logos/ocha-logo-blue.svg) center no-repeat;
        background:linear-gradient(transparent, transparent), url(../images/logos/ocha-logo-blue.svg) center no-repeat
    }
}

/* Search button in header */
.cd-search__btn {
    text-decoration: none;
    position: relative;
}
.cd-search__btn::before {
    position: absolute;
    right: -1px;
    bottom: -6px;
    left: -1px;
    width: calc(100% + 2px);
    height: 6px;
    content: "";
    transition: background .3s ease;
    background: transparent;
}
.cd-search__btn--active {
    color: var(--cd-highlight-red);
}
.cd-search__btn--active svg {
    fill: var(--cd-highlight-red);
}
.cd-search__btn:hover {
    background: var(--cd-blue-grey);
}
.cd-search__btn--active::before {
    background: var(--cd-highlight-red);
}
.cd-form .cd-form--inline {
    margin-bottom: 2rem;
}
