/* Implementation overrides - custom styles go here. */

/* Mobile logo */
@media (max-width: 767px) {
  .cd-site-logo {
    background: url(../images/logos/ocha-logo-blue.svg) center no-repeat;
    background: linear-gradient(transparent, transparent), url(../images/logos/ocha-logo-blue.svg) center no-repeat;
  }
}

.cd-global-header {
  background: var(--cd-ocha-blue);
  background-image: linear-gradient(-180deg, var(--cd-ocha-blue) 57%, var(--cd-blue--dark) 97%);
}

.cd-footer {
  background: var(--cd-ocha-blue);
}
