/**
 * Site-specific styles
 *
 * Put all your site-specific styles in this file. It will only receive updates
 * in very rare cases, and then only to the `:root` selector to change default
 * branding colors.
 */

:root {
  /**
   * Site-specific brand colors
   *
   * Set these variables and the CD Header/Footer will re-color to your brand.
   */
  --brand-primary: var(--cd-ocha-blue);
  --brand-primary--light: var(--cd-blue--bright);
  --brand-primary--dark: var(--cd-blue--dark);
  --brand-highlight: var(--cd-highlight-red);
  --brand-grey: var(--cd-blue-grey);

  /**
   * Site logos
   *
   * Specify the logo paths/dimentions here. The URL is relative to:
   * @see resources/assets/css/cd/cd-header/cd-logo.css
   */
  --brand-logo-mobile-width: 52px;
  --brand-logo-desktop-width: 186px;

/*  --brand-logo-mobile-url: url("../../../img/logos/ocha-logo-blue.svg");*/
}
