/* Common Design component styles for the Editor form */
/* Style and selector adjustments so CD component styles work
 with Wordpress and Gutenberg blocks */

:root {
    /* Color palette */
    /* OCHA blue is one colour ramp darker than brand blue */
    --cd-ocha-blue: #1f69b3;
    /* Dark blue is two colour ramps darker than brand blue */
    --cd-blue--dark: #144372;
    /* Bright blue is one colour ramp lighter than brand blue */
    --cd-blue--bright: #82b5e9;
    --cd-blue--light: #d4e5f7;
    --cd-highlight-red: #e56a54;
    --cd-contrast-red: #e00000;
    --cd-white: #fff;
    --cd-grey--light: #f2f2f2;
    --cd-grey--mid: #595959;
    --cd-grey--dark: #4a4a4a;
    --cd-default-text-color: var(--cd-grey--dark);
    --cd-black: #000;
    --cd-blue-grey: #e6ecf1;
    --cd-blue-grey--dark: #d3dde5;
    --cd-blue-grey--light: #ebf0f4;

    --cd-rgb-ocha-blue: 2, 108, 182;
    --cd-rgb-grey--mid: 89, 89, 89;
    --cd-rgb-grey--dark: 74, 74, 74;
    --cd-rgb-highlight-red: 229, 106, 84;
    --cd-rgb-blue-grey--dark: 211, 221, 229;

    --cd-red: #cd3a1f;
    --cd-red--light: #f8d8d3;
    --cd-orange: #db7b18;
    --cd-orange--light: #fae6d1;
    --cd-yellow: #d5de26;
    --cd-yellow--light: #f7f8d3;
    --cd-green: #7fb92f;
    --cd-green--light: #e8f5d6;

    /* Fonts sizes in REMs */
    --cd-font-size--tiny: 0.75rem;      /* 12px */
    --cd-font-size--small: 0.875rem;    /* 14px */
    --cd-font-size--base: 1.125rem;     /* 18px */
    --cd-font-size--medium: 1.375rem;   /* 22px */
    --cd-font-size--large: 1.625rem;    /* 26px */
    --cd-font-size--2xbase: 1.875rem;   /* 30px */
    --cd-font-size--2xmedium: 2.375rem; /* 38px */
    --cd-font-size--2xlarge: 2.875rem;  /* 46px */

    /* Fonts */
    --cd-font: helvetica, arial, sans-serif;
    --cd-font--system: system-ui;
    --cd-font--roboto: "Roboto", helvetica, arial, sans-serif;

    /* CD buttons */
    --cd-primary-color-h: 210;
    --cd-primary-color-s: 70%;
    --cd-primary-color-l: 41%;
    --cd-primary-color: hsl(var(--cd-primary-color-h), var(--cd-primary-color-s), var(--cd-primary-color-l));
    /* lighten */
    --cd-primary-color--light: hsl(var(--cd-primary-color-h), var(--cd-primary-color-s), calc(var(--cd-primary-color-l) + 30%));
    /* darken */
    --cd-primary-color--dark: hsl(var(--cd-primary-color-h), var(--cd-primary-color-s), calc(var(--cd-primary-color-l) - 26%));
    /* For cd-button--light */
    /* Change the lightness. Other values remain the same */
    --cd-primary-color--lighter: hsl(var(--cd-primary-color-h), var(--cd-primary-color-s), calc(var(--cd-primary-color-l) + 39%));
}

body,
.editor-styles-wrapper {
    color: var(--cd-grey--dark);
    font-family: var(--cd-font--roboto);
    font-size: 1rem;
    line-height: 1.5;
}

/* cd-button https://github.com/UN-OCHA/common_design/tree/main/components/cd-button */
.is-style-outline > .wp-block-button__link,
.wp-block-button__link.is-style-outline,
.wp-block-button__link {
    width: auto;
    padding: 0.5rem 1rem;
    transition:
            background-color 0.6s ease-out,
            color 0.6s ease-out;
    text-align: center;
    color: var(--cd-white);
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 3px;
    background-color: var(--cd-primary-color);
    box-shadow: none;
    font-size: 1rem;
    line-height: 1.15;
    -webkit-appearance: none;
    margin: 0.25rem;
}

.is-style-outline > .wp-block-button__link:not(.has-text-color),
.wp-block-button__link.is-style-outline:not(.has-text-color),
.is-style-outline .wp-block-button__link {
    color: var(--cd-primary-color);
    border-color: var(--cd-primary-color);
    background-color: var(--cd-white);
    fill: currentColor;
}

.wp-block-button__link:hover,
.wp-block-button__link:focus {
    color: var(--cd-white);
    background-color: var(--cd-primary-color--light);
}

.is-style-outline .wp-block-button__link:hover,
.is-style-outline .wp-block-button__link:focus {
    color: var(--cd-white);
    border-color: var(--cd-primary-color--dark);
    background-color: var(--cd-primary-color);
}


/* cd-bullet-list https://github.com/UN-OCHA/common_design/blob/main/components/cd-bullet-list */
ul.block-editor-block-list__block {
    margin: 0 0 1rem;
    padding: 0;
    list-style: none;
}

ul.block-editor-block-list__block li {
    background-repeat: no-repeat;
    background-size: 0.5rem 0.5rem;
}

ul.block-editor-block-list__block li {
    padding: 0.25rem 0 0.25rem 1.5rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%5C %3Cpath fill='%23ff4d59' d='M14,48a4,4,0,0,1-2.83-6.83L28.34,24,11.17,6.83a4,4,0,0,1,5.66-5.66l20,20a4,4,0,0,1,0,5.66l-20,20A4,4,0,0,1,14,48Z'/%3E%5C %3C/svg%3E");
    background-position: 0 0.75rem;
}

/* cd-table https://github.com/UN-OCHA/common_design/blob/main/components/cd-table */
.wp-block-table table {
    width: 100%;
    margin: 0 auto 3rem;
    border-collapse: collapse;
}

.wp-block-table table + figcaption {
    margin-top: -2.5rem;
    caption-side: bottom;
    text-align: left;
    padding: 0.25rem 0.5rem;
    background: var(--cd-blue-grey);
}

.wp-block-table table th,
.wp-block-table table td {
    padding: 0.5rem;
    text-align: left;
}

.wp-block-table table th {
    color: var(--cd-ocha-blue);
    border-bottom: 1px solid white;
    background: var(--cd-blue-grey);
}

.wp-block-table table a {
    word-break: break-word;
}

.wp-block-table table tfoot {
    font-weight: bold;
}

/* Table striping */
.wp-block-table table tr:nth-child(odd) {
    background: white;
}

.wp-block-table table tr:nth-child(even) {
    background: var(--cd-grey--light);
}

/* Horizontal rule https://github.com/UN-OCHA/common_design/blob/main/components/cd-typography/cd-typography.css */
.wp-block-separator {
    max-width: var(--cd-max-content-width);
    margin: 3.5rem auto;
    border: none;
    border-top: 2px solid var(--cd-grey--light);
}
